body {
  font-family: Roboto, helvetica, sans-serif;
  margin: 0;
}

html, body {
  height: 100%;
}

main {
  padding: 0px 40px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #333;
  color: white;
}

header div.logo {
  display: flex;
  flex-direction: column;
}

header div.logo h1 {
  margin: 0;
}

.hamburger {
  display: none;
  background: transparent;
  color: white;
  border: none;
  font-size: 35px;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li {
  padding: 10px 10px;
}

header nav ul li:hover {
  background-color: #555;
}

header nav ul li a {
  text-decoration: none;
  color: white !important;
}

header nav ul li:not(:first-child) {
  margin-left: 20px;
}

#hero {
  display: flex;
  justify-content: end;
  align-items: end;
  background-image: url('https://placehold.co/1200x400');
  background-size: cover;
  min-height: 400px;
  min-width: 1200px;
}

#hero-wrapper {
  display: flex;
  justify-content: center;
}

#items {
  display: flex;
  justify-content: space-between;
}

#items h2, #businesses h2 {
  background-color: #333;
  padding: 10px;
  color: white;
  width: 100%;
}

.business img {
  margin-right: 10px;
}

.business div.info {
  display: flex;
}

footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

.responsive-img {
  max-width: 100%;
  height: auto;
  display: block;
}

#control {
  display: flex;
  color: white;
  background: #333;
  justify-content: center;
}

#control div {
  padding: 20px;
}

#control div:hover {
  background: #555;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.list {
  display: flex;
  flex-direction: column;
}

#grid.active, #list.active {
  background-color: #555;
}

#cta {
  margin-bottom: 20px;
  margin-right: 20px;
  background-color: #333;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 40px;
}

#cta a {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin-left: 30px;
  font-size: 30px;
}

#cta a:hover {
  background-color: #555;
}

#form {
  display: flex;
  justify-content: space-evenly;
}

#form form {
  display: flex;
  flex-direction: column;
}

#form form input, #form form select, #form form textarea {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 8px;
}

#form input[type="submit"] {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

#form input[type="submit"]:hover {
  background-color: #555;
}

#np-card h3 {
  animation: npColorAnimation 5s 1 normal forwards;
}

@keyframes npColorAnimation {
  0% {
    color: cadetblue;
  }
  100% {
    color: black;
  }
}

#bronze-card h3 {
  animation: bronzeColorAnimation 5s 1 normal forwards;
}

@keyframes bronzeColorAnimation {
  0% {
    color: #cd7f32;
  }
  100% {
    color: black;
  }
}

#silver-card h3 {
  animation: silverColorAnimation 5s 1 normal forwards;
}

@keyframes silverColorAnimation {
  0% {
    color: silver;
  }
  100% {
    color: black;
  }
}

#gold-card h3 {
  animation: goldColorAnimation 5s 1 normal forwards;
}

.container {
  display: grid;
  gap: 20px;
  padding: 20px;
}
.card {
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.card figure {
  margin: 0;
}
.card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  border: 2px solid white;
}

.card img:hover {
  border: 2px solid #333;
}

@keyframes goldColorAnimation {
  0% {
    color: gold;
  }
  100% {
    color: black;
  }
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }

  #hero {
    display: flex;
    justify-content: center;
    background-image: url('https://placehold.co/400x400');
    background-size: cover;
    min-height: 400px;
    min-width: 400px;
  }

  .hamburger {
    display: block;
  }

  header div.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  header nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
  }

  header nav.active {
    grid-template-rows: 1fr;
  }

  header nav ul {
    overflow: hidden;
    flex-direction: column;
    padding-left: 0px;
    margin-bottom: 0px;
  }

  header nav ul li {
    padding: 10px 0px;
  }

  header nav ul li:not(:first-child) {
    margin-left: 0px;
  }

  header nav ul li {
    transition: all 0.5s ease-out;
  }

  header nav ul.active li {
    display: block;
  }

  .hamburger.active::before {
    content: "x";
  }

  .hamburger.active span {
    display: none;
  }

  #items {
    display: flex;
    flex-direction: column;
  }

  #form {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 320px) and (max-width: 640px) {
  .container {
      grid-template-areas:
          "card1"
          "card2"
          "card3"
          "card4"
          "card5"
          "card6"
          "card7"
          "card8";
  }

  .card img:hover {
    border: 2px solid white;
  }
}
@media (min-width: 641px) and (max-width: 1024px) {
  .container {
      grid-template-areas:
          "card1 card2"
          "card3 card4"
          "card5 card6"
          "card7 card8";
  }
}
@media (min-width: 1025px) {
  .container {
      grid-template-areas:
          "card1 card2 card3 card4"
          "card5 card6 card7 card8";
  }
}

.card:nth-child(1) { grid-area: card1; }
.card:nth-child(2) { grid-area: card2; }
.card:nth-child(3) { grid-area: card3; }
.card:nth-child(4) { grid-area: card4; }
.card:nth-child(5) { grid-area: card5; }
.card:nth-child(6) { grid-area: card6; }
.card:nth-child(7) { grid-area: card7; }
.card:nth-child(8) { grid-area: card8; }

